In [261]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [50]:
executable_path = {"executable_path": "C:/Users/AJGra/Downloads/chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

scrape nasa for latest news title and paragraph and save to variables

In [169]:
url_nasa = 'https://mars.nasa.gov/news/'
browser.visit(url_nasa)
#use requests to retrieve page and create BS object
# response_nasa = requests.get(url_nasa)
# soup_nasa = BeautifulSoup(response_nasa.text, 'html.parser')

In [170]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title_url_nasa = soup.find("div", class_="content_title").text
print(title_url_nasa)

MarCO Makes Space for Small Explorers

In [171]:
paragraph_url_nasa = soup.find("div", class_="article_teaser_body").text
print(paragraph_url_nasa)

A pair of NASA CubeSats flying to Mars are opening a new frontier for small spacecraft.

In [172]:
browser.quit()
# title_nasa = soup_nasa.find("div", class_="content_title").text
# # print(title_nasa)
# # print(soup_nasa.prettify())
# nasa_paragraph = soup_nasa.find("div", class_="article_teaser_body")
# print(nasa_paragraph)

In [173]:
#Use splinter to navigate the site and find the image url for the current Featured Mars Image 
#assign the url string to a variable called `featured_image_url`.
browser = Browser('chrome', **executable_path, headless=False)
url_jpl = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_jpl)

In [174]:
xpath= '//*[@id="page"]/section[3]/div/ul/li[1]/a/div/div[2]/img'

In [175]:
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [177]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url = soup.find("img", class_="fancybox-image")["src"]
img_url

'/spaceimages/images/largesize/PIA22712_hires.jpg'

In [178]:
featured_image_url = 'https://www.jpl.nasa.gov'
featured_image_url += img_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22712_hires.jpg'

In [179]:
browser.quit()

In [180]:
#Visit the Mars Weather twitter and scrape the latest Mars weather tweet from the page. 
#Save the tweet text for the weather report as a variable called `mars_weather`.
url_twitter = "https://twitter.com/marswxreport?lang=en"

In [181]:
response_TW = requests.get(url_twitter)

soup_TW = BeautifulSoup(response_TW.text, 'lxml')

In [182]:
mars_weather = soup_TW.find('p', class_='TweetTextSize--normal').text
mars_weather

'Sol 2171 (2018-09-14), high -12C/10F, low -65C/-84F, pressure at 8.79 hPa, daylight 05:43-17:59'

In [183]:
#Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc and 
#convert the data to a HTML table string.
url_facts = 'http://space-facts.com/mars/'

In [184]:
tables = pd.read_html(url_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [185]:
facts_df = tables[0]
# facts_df.columns = ['Description']

facts_df.columns= ['Description', 'Value']
facts_df.set_index('Description', inplace=True)
facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [164]:
html_table = facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [187]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [166]:
facts_df.to_html('table.html')

In [283]:
#Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres.
#Save image url string and the Hemisphere title containing the hemisphere name using the keys `img_url` and `title`.
url_hemi = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [284]:
#open provided website
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url_hemi)

In [285]:
#use BS to get link objects
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
results_hemi = soup.find_all('div', class_='item')
# results_hemi = soup.find_all("div", class_="item")

In [286]:
#loop through results to get url of specific encanced pics and close window

url_list = []

for result in results_hemi:
#     title = result.text.strip()
#     title_list.append(title)
    pic_url = result.find('a')['href']
    url_list.append(pic_url)

full_url_list = ['https://astrogeology.usgs.gov' + url for url in url_list]
browser.quit()

In [287]:
full_url_list

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [293]:
#visit specific hemisphere pages

hemisphere_image_urls  = []

for page in full_url_list:
    
    browser = Browser('chrome', **executable_path, headless=False)
    browser.visit(page)

    #get name of current hemisphere
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    title_url_nasa = soup.find("h2", class_="title").text
    print(title_url_nasa)


    #find link to full image page
    pic_xpath = '//*[@id="wide-image"]/div/ul/li[1]/a'
    results = browser.find_by_xpath(pic_xpath)
    img = results[0]

    #make dictionary of name and url and append to list
    thisdict = dict(title=title_url_nasa, img_url=img['href'])
    hemisphere_image_urls.append(thisdict)
    browser.quit()

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [294]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]