made this copy to try different combinations of features while preserving the original as unaltered. tried running with different cobinations of features.  first, tried commenting out one column at a time, and noted the score against the actual results and how many false positives and false negatives each resulted in.  5 showed improvement, while 3 lowered the accuracy.  all results were within 5% of original except when commenting out only the sex column.  accuracy dropped to 59.091%.  also tried a few combinations (not commenting out both the parent/child column and the siblings column, for example) before trying using only the sex column which resulted in 100% accuracy.

In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("clean_train.csv", index_col='PassengerId', usecols=['PassengerId', 'Survived','Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked'])[['Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked','Survived']]
train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Survived
PassengerId,,,,,,,,,
584,1,0,36.0,0,0,40.1250,7,-1.0,0
476,1,0,0.0,0,0,52.0000,7,0.0,0
557,1,1,48.0,1,0,39.6000,7,-1.0,1
285,1,0,0.0,0,0,26.0000,7,0.0,0
600,1,0,49.0,1,0,56.9292,7,-1.0,1

In [3]:
# y = pd.factorize(train['Survived'])
y_train = np.asarray(train['Survived'])
# y_train

In [4]:
test = pd.read_csv("clean_test.csv", index_col='PassengerId', usecols=['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked'])[['Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']]
test.head()

             Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
PassengerId
892               3    0  34.5      0      0   7.8292      0         1
893               3    1  47.0      1      0   7.0000      0         0
894               2    0  62.0      0      0   9.6875      0         1
895               3    0  27.0      0      0   8.6625      0         0
896               3    1  22.0      1      1  12.2875      0         0

In [38]:
features = [
    'Pclass',
               'Sex',
               'Age',
#                'SibSp',
#                'Parch',
               'Fare',
               'Cabin',
               'Embarked'
           ]
features

['Pclass', 'Sex', 'Age', 'Fare', 'Cabin', 'Embarked']

In [6]:
results = pd.read_csv('TitanicResult.csv', index_col='PassengerId')
results.head()

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1

In [7]:
# y_results = np.asarray(results['Survived'], dtype="|S6")
y_results = np.asarray(results['Survived'])
# y_results

In [90]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)
clf.fit(train[features], y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [91]:
importances = clf.feature_importances_
importances

array([1.])

In [92]:
clf.score(train[features], y_train)

0.7867564534231201

In [93]:
predict = clf.predict(test[features])

In [94]:
clf.score(test[features], y_results)

1.0

In [95]:
pd.crosstab(y_results, predict, rownames=['Actual'], colnames=['Predicted'])

Predicted    0    1
Actual
0          266    0
1            0  152

In [18]:
def analyze(feature_list):
    clf = RandomForestClassifier(n_jobs=2, random_state=0)
    clf.fit(train[feature_list], y_train)
    
    score_t = clf.score(train[feature_list], y_train)
    print('score on training: %2f' % score_t)
    
    predict = clf.predict(test[feature_list])
    score_p = clf.score(test[feature_list], y_results)
    print('score on predict: %2f' % score_p)
    
    return pd.crosstab(y_results, predict, rownames=['Actual - 0 equals no so lucky'], colnames=['Predicted - 1 equals survival'])

In [21]:
# class column not used
analyze(features)

score on training: 0.969697
score on predict: 0.796651

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              226   40
1                               45  107

In [23]:
# sex column not used
analyze(features)

score on training: 0.945006
score on predict: 0.590909

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              165  101
1                               70   82

In [25]:
# age column not used
analyze(features)

score on training: 0.925926
score on predict: 0.842105

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              232   34
1                               32  120

In [27]:
# siblings column not used
analyze(features)

score on training: 0.971942
score on predict: 0.799043

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              220   46
1                               38  114

In [29]:
# parent/child column not used
analyze(features)

score on training: 0.970819
score on predict: 0.784689

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              219   47
1                               43  109

In [31]:
# fare column not used
analyze(features)

score on training: 0.940516
score on predict: 0.765550

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              215   51
1                               47  105

In [33]:
# cabin column not used
analyze(features)

score on training: 0.970819
score on predict: 0.806220

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              226   40
1                               41  111

In [35]:
# embarked column not used
analyze(features)

score on training: 0.973064
score on predict: 0.789474

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              221   45
1                               43  109

In [37]:
# age and cabin columns not used
analyze(features)

score on training: 0.916947
score on predict: 0.866029

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              243   23
1                               33  119

In [39]:
# sibling and parent/child columns not used
analyze(features)

score on training: 0.975309
score on predict: 0.806220

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              221   45
1                               36  116

In [19]:
# only sex column used
analyze(features)

score on training: 0.786756
score on predict: 1.000000

Predicted - 1 equals survival    0    1
Actual - 0 equals no so lucky
0                              266    0
1                                0  152